<div class="container-vert">

   <div class="card">
      <h1>Stored Entries</h1>
   </div>

   <div class="container-horz">

      <div class="card-half">
         <div>
            <input type="text" [(ngModel)]="newEntry">
         </div>

         <div>
            <button (click)="addEntry()">Add Entry</button>
         </div>
      </div>

      <div class="card-half">
         <button (click)="deleteAll()">Delete All</button>
      </div>

   </div>

   <div class="card">
      <h3>Saved Entries</h3>

      <div>
         <div *ngFor="let storedGoal of storedEntries" class="entry">{{storedGoal.text}}</div>
      </div>
   </div>


</div>
